/chapter_7/TestProj/nbproject/private/
/chapter_7/TestProj/build/
/chapter_8/ChattBank/build/
/chapter_8/ChattBank/nbproject/private/
/chapter_8/ChattBank/dist/
/Dentist/nbproject/private/
/Dentist/build/
/DentalCare/nbproject/private/
/DentalCare/build/